html{
  font-size: 18px;
  font-family: Helvetica;
}

.flex-container{
  max-width: 960px;
  margin: 0px auto;
}

/*HEADER*/
.company{
  background-color: black;
  color: white;
}

.company .flex-container{
  display: flex;
  font-size: 1rem;
  align-items: center;
  padding: 0.66rem 0rem 0.66rem 0.5rem;
}

.company .flex-container img{
  height: 1.5rem;
  padding-right: 1rem;
}

/*Main Banner*/
.banner{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-text{
  color: white;
  background-color: black;
  width: 20rem;
  font-weight: bold;
  top: 9rem;
  position: relative;
  padding: 2rem 3rem;
}

.banner-text h4{
  font-size: 1rem;
}

.banner-text h1{
  font-size: 2rem;
  margin-top: 0.25rem;
}

/*Navigation*/
nav{
  background-color: firebrick;
  color: white;
}

nav ul.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0px;
}

.mobile-menu{
  display: none;
}

/*Products*/
.items{
  display: flex;
  margin: 3rem 0px 0px;
  justify-content: space-between;
}

.item{
  width: 30%;
}

.item-image{
  border: 4px solid black;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0px;
}

.item-image img{
  max-height: 9rem;
  max-width: 9rem;
}

.detail{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

/*Location and Schedule*/
.boxes{
  display: flex;
  margin: 3rem auto 4rem auto;
  justify-content: space-between;
}

.boxes .box{
  width: 35%;
}

.box-title{
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/*Footer*/
footer{
  padding: 5rem 0px;
  background-color: black;
  color: white;
  text-align: left;
  align-items: center;
}

/*responsive design tablet size*/
@media only screen and (max-width: 768px){
  body{
    font-size: 16px;
  }

  .item{
    width: 47%;
  }

  .item.glasses{
    display: none;
  }

  .boxes .box{
    width: 35%;
  }

  nav ul.flex-container{
    display: none;
  }

  .mobile-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem 0px;
  }
}

/*responsive design phone size*/
@media only screen and (max-width: 480px){
  .banner{
    height: 15rem;
  }

  .banner-text{
    top: 10rem;
    padding: 1rem 2rem;
    font-weight: bold;
  }

  .banner-text h4{
    font-size: 0.77rem;
  }

  .banner-text h1{
    font-size: 1rem;
    margin-top: 0.25rem;
  }

  .item{
    width: 90%;
    margin: auto;
  }

  .watch, .glasses{
    display: none;
  }

  .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .boxes .box{
    width: 90%;
  }

  .box{
    margin: 0.5rem auto;
  }

  footer{
    text-align: center;
  }
}
